
header{
    background: #38783b;
      color: white;
}

body{
    background: #cee9cb;
    color: rgb(0, 0, 0);
    
}
img {
    width: 220px;
    height: 150px;
    max-width: 100%;
   
}
#lista-productos{
    display: grid;

    grid-template-columns:
        repeat(auto-fit,
        minmax(220px, 1fr));

        gap: 3px
}
.tarjeta {
   
    background-color: #38783b;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 15px;

}
.logo{
    width: 68px;
    height: 68px;
    background-color: antiquewhite;
    border-radius: 15px;

    display: flex;
    align-items: center;
    justify-content: center;
}
.logo img {
    width: 70px;
    height: 70px;
    objet-fit: contain;
}
